[Unit]
Description=Run NISTER tunnel watchdog periodically

[Timer]
OnBootSec=45s
OnUnitInactiveSec=120s
AccuracySec=5s
Persistent=true
Unit=nister-tunnel-watchdog.service

[Install]
WantedBy=timers.target
