[Unit]
Description=Run Nister radacct cleanup periodically

[Timer]
OnBootSec=2m
OnUnitActiveSec=5m
Persistent=true
Unit=nister-radacct-cleanup.service

[Install]
WantedBy=timers.target
