[Unit]
Description=Run NISTER Starlink RADIUS client sync

[Timer]
OnBootSec=1min
OnUnitActiveSec=1min
AccuracySec=10s
Persistent=true
Unit=nister-radius-starlink-sync.service

[Install]
WantedBy=timers.target
