[Unit]
Description=Run Nister radacct cleanup periodically

[Timer]
OnBootSec=10m
OnUnitActiveSec=30m
Persistent=true
Unit=nister-radacct-cleanup.service

[Install]
WantedBy=timers.target

