[Unit]
Description=Run NISTER router catch-up periodically

[Timer]
OnBootSec=90s
OnUnitInactiveSec=60s
AccuracySec=5s
Persistent=true
Unit=nister-router-catchup.service

[Install]
WantedBy=timers.target
